* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid: 1fr 4fr / 1fr 4fr;
}

.sidebar {
  background: green;
  grid-area: 1 / 1 / 3;
}

.header {
  background: #000;
}

.mainContent {
  background: red;
}